swagger: "2.0"
info:
  description: "artiFlow REST API Definition"
  version: "1.0.0"
  title: "artiFlow REST API Definition"
  termsOfService: ""
  contact:
    email: "privet56@hotmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "artiflow.io"
basePath: "/restapi"
schemes:
- "http"
paths:

  /config:
    get:
      tags:
      - "config"
      summary: "Lists the whole Configuration"
      description: "Lists the configuration value"
      operationId: "config"
      parameters: []
      produces:
      - "application/json"
      responses:
        500:
          description: "Internal Server Error"
        200:
          description: "Valid Response returned"
          schema:
            $ref: "#/definitions/Configuration"

  /config/{name}:
    get:
      tags:
      - "config"
      summary: "Returns the requested Configuration Entry Value"
      description: "Returns the requested Configuration Entry Value"
      operationId: "getConfigValue"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "Name of the configuration Entry"
        required: true
        type: "string"
        default: ""
      responses:
        200:
          description: "Returns Value of requested CFG Entry"
          schema:
            $ref: "#/definitions/ConfigurationEntry"
        404:
          description: "Invalid configuration Entry name"

definitions:

  Configuration:
    type: "object"
    required:
    - "name"
    - "time"
    - "entries"
    - "requestURL"
    properties:
      name:
        type: "string"
      time:
        type: "string"
        format: "date-time"
      requestURL:
        type: "string"
      entries:
        type: "array"
        items:
          $ref: "#/definitions/ConfigurationEntry"

  ConfigurationEntry:
    type: "object"
    required:
    - "name"
    - "value"
    - "time"
    - "requestURL"
    properties:
      name:
        type: "string"
      value:
        type: "string"
      requestURL:
        type: "string"
      time:
        type: "string"
        format: "date-time"
